/CRUD_Auto.class
/CRUD_Campeonato.class
/CRUD_ClasificacionCampeonato.class
/CRUD_ClasificacionCarrera.class
/CRUD_ComentarioPiloto.class
/CRUD_ComentarioPista.class
/CRUD_Escuderia.class
/CRUD_GranPremio.class
/CRUD_Motor.class
/CRUD_Piloto.class
/CRUD_Pista.class
/CRUD_Record.class
/CRUD_Usuario.class
/CRUD_Apuesta.class
