/Auto.class
/Campeonato.class
/ClasificacionCampeonato.class
/ClasificacionCarrera.class
/ComentarioPiloto.class
/ComentarioPista.class
/Escuderia.class
/GranPremio.class
/Motor.class
/Piloto.class
/Pista.class
/Record.class
/Usuario.class
/Apuesta.class
